body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #f9c243;
}

h2 {
  font-size: 2rem;
  color: #f9c243;
}

hr {
  border-color: #65098ab0;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #65098ab0;
  border-color: #65098ab0;
}

.btn-primary:hover {
  background-color: #65098a;
  border-color: #65098a;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}